<div *ngIf="loadingMeals" class="loading-meals">
  <div class="loading-content">
      <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</div>

<div *ngIf="!loadingMeals && !thereAreMeals" style="display:flex;min-height:200px;">
  <div style="margin:auto;">{{periodName2()}}</div>
</div>

<div *ngIf="!loadingMeals && thereAreMeals">
  <div *ngFor="let day of periodMeals">
    <div class="table-responsive" style="margin-bottom:20px"> 
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col" id="edit-cell">
              <a class="edit-span" matTooltip="edit meals" [routerLink]="['/edit-meal', day.date]"
              [queryParams]="{ period: period }">
                <i class="material-icons">edit</i>
              </a>
              <span style="padding: 0 4px 0 4px;">{{day.date}}</span>
            </th> 
            <th scope="col">grocerie</th>
            <th scope="col">quantity(g)</th>
            <th scope="col">energy(kcal)</th>
            <th scope="col">proteins(g)</th>
            <th scope="col">carbohydrates(g)</th>
            <th scope="col">sugar(g)</th>
            <th scope="col">fat(g)</th>
            <th scope="col">saturated(g)</th>
            <th scope="col">monounsaturated(g)</th>
          </tr>
        </thead>
        <tbody *ngFor="let meal of day.mealsInfo; let i = index">
          <tr id="meal-calculaton-table">
            <td colspan="10"><strong>{{mealNames[i]}}</strong></td>
          </tr>
          <tr *ngFor="let item of meal">
            <td scope="col">
            </td>
            <td scope="col">{{item.food}}</td>
            <td scope="col">
              <span>{{item.quantity}}</span>
            </td>
            <td scope="col">{{item.energy}}</td>
            <td scope="col">{{item.proteins}}</td>
            <td scope="col">{{item.carbohydrates}}</td>
            <td scope="col">{{item.sugar}}</td>
            <td scope="col">{{item.fat}}</td>
            <td scope="col">{{item.saturated}}</td>
            <td scope="col">{{item.monounsaturated}}</td>
          </tr>
          <tr>
            <td><strong>&Sigma;</strong></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col">{{day.sumInfo[i].energy}}</td>
            <td scope="col">{{day.sumInfo[i].proteins}}</td>
            <td scope="col">{{day.sumInfo[i].carbohydrates}}</td>
            <td scope="col">{{day.sumInfo[i].sugar}}</td>
            <td scope="col">{{day.sumInfo[i].fat}}</td>
            <td scope="col">{{day.sumInfo[i].saturated}}</td>
            <td scope="col">{{day.sumInfo[i].monounsaturated}}</td>
          </tr>
        </tbody>
        <tr id="row-total">
            <td><strong>TOTAL</strong></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"><strong>{{day.totalInfo.energy}}</strong></td>
            <td scope="col"><strong>{{day.totalInfo.proteins}}</strong></td>
            <td scope="col"><strong>{{day.totalInfo.carbohydrates}}</strong></td>
            <td scope="col"><strong>{{day.totalInfo.sugar}}</strong></td>
            <td scope="col"><strong>{{day.totalInfo.fat}}</strong></td>
            <td scope="col"><strong>{{day.totalInfo.saturated}}</strong></td>
            <td scope="col"><strong>{{day.totalInfo.monounsaturated}}</strong></td>
        </tr>
        <tr>
          <td colspan="10" id="summary"
          [ngClass]="{'calories-ok': (caloryLimit - day.totalInfo.energy)>=0,
                      'calories-bad': (caloryLimit - day.totalInfo.energy)<0}">
            <span *ngIf="(caloryLimit - day.totalInfo.energy)>=0" class="calories-ok">
              <strong>Calory limit not crossed, calories left: {{caloryLimit - day.totalInfo.energy}}kcal</strong>
            </span>
            <span *ngIf="(caloryLimit - day.totalInfo.energy)<0" class="calories-bad">
              <strong>Calory limit crossed for: {{day.totalInfo.energy - caloryLimit}}kcal</strong>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="text-missing" *ngIf="isMissing">{{periodName()}}</div> 
<div class="fixed-size-container" *ngIf="isMissing">
  <div class="fixed-size" *ngFor="let date of missing" [routerLink]="['/edit-meal', date]"
    [queryParams]="{ period: period }">
    <span matTooltip="click to add">{{date}}</span>
  </div>
</div>