.item {
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    padding: 0px 7px;
}

.item:hover {
    cursor: pointer;
    color: rgb(78, 77, 77);
}

.router-link-active {
    background-color: rgb(187, 184, 184);
    color: rgb(78, 77, 77);
}

/* Small Item */


.small-item {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    padding: 0 25px 0 25px;
    margin: 10px 0 10px 0;
}

.small-item:hover {
    cursor: pointer;
    background-color: rgb(187, 184, 184);
    color: rgb(78, 77, 77);
}
