* {
    color: rgb(133, 133, 133);
}

.navb {
    display: flex;
    background-color: rgb(216, 213, 213);
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.navb-left {
    display: flex;
    margin-left: 120px;
}

.logo {
    margin-right: 20px;
    font-size: 20px;
}

.logo:hover {
    cursor: pointer;
}

.home {
    padding: 0px 7px;
}

.home:hover {
    cursor: pointer;
    color: rgb(78, 77, 77);
}

.navb-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 110px;
}

ul {
    list-style-type: none;
    display: flex;
    
}

.router-link-active {
    background-color: rgb(187, 184, 184);
    color: rgb(78, 77, 77);
}

#logout:hover {
    cursor: pointer;
    color: rgb(78, 77, 77);
}


/* Small Navbar */

.small-navb {
    display: flex;
    height: 40px;
    line-height: 40px;
    background-color: rgb(216, 213, 213);
}

.hamburger {
    flex-grow: 1;
    padding-left: 20px;
    font-size: 16px;
}

.menu-shown {
    background-color: rgb(187, 184, 184);
    color: rgb(78, 77, 77);
}

.logo-small {
    flex-grow: 1;
    text-align: center;
    font-size: 22px;
}

.logo-small-span:hover {
    cursor: pointer;
}

.home-small {
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
}

.icon {
    padding: 5px;
}

.icon:hover {
    cursor: pointer;
    background-color: rgb(187, 184, 184);
    color: rgb(78, 77, 77);
}

.small-menu {
    position: absolute;
    background-color: rgb(42, 42, 44);
    z-index: 1;
}

/* for logout small */

.logout-item {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    padding: 0 25px 0 25px;
    margin: 10px 0 10px 0;
}

.logout-item:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}